.cl_all {
	color: #888;
	width: 350px;
	padding: 10px;
	margin: 30px auto 0;
	background-color: #fafafa;
	border-radius: 6px;
}

.cl_top {
	width: 100%;
	height: 20%;
	display: flex;
}

.cl_top_title {
	display: inline-block;
	font-size: 26px;
	text-indent: 10px;
	color: #888;
	cursor: pointer;
	width: 290px;
}

.cl_top_box {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end
}

.cl_top_week {
	top: 8px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 50%;
	color: #fff;
	background-color: rgb(255, 128, 142);
	font-size: 18px;
	margin-right: 5px;
	cursor: pointer;
}

.cl_top_left {
	color: #ddd;
	font-size: 26px;
	cursor: pointer;
	width: 25px;
}

.cl_top_right {
	color: #ddd;
	font-size: 26px;
	cursor: pointer;
	width: 25px;
}

.cl_down_week {
	width: 100%;
	display: flex;
	justify-content: space-around;
	font-weight: bold;
	font-size: 16px;
	align-items: center;
	border-bottom: 1px solid rgb(255, 128, 142);
	height: 50px;
	margin-top: 5px;
}

.arrow:hover {
	color: #888;
}

.cl_down_row {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.cl_day {
	width: 50px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	color: #333;
	font-size: 14px;
	border-radius: 50%;
	cursor: pointer;
}

.cl_day_last_month {
	color: #888;
}

.cl_day_next_month {
	color: #888;
}

.cl_this_month_today {
	color: #fff;
	background-color: rgb(255, 128, 142);
}

.cl_day:hover {
	background-color: #f0f0f0;
}

.cl_day.cl_day_click {
	background-color: #d8e4e3;
}

.cl_window_thisday {
	display: none;
	opacity: 0;
	position: absolute;
	right: 20px;
	top: 20px;
	width: 90px;
	height: 48px;
	padding: 6px 10px;
	background-color: rgb(255, 128, 142);
	border-radius: 5px;
}

.cl_window_triangle {
	position: absolute;
	top: 50%;
	left: -16px;
	margin-top: -8px;
	border-width: 8px;
	border-style: solid;
	border-color: transparent rgb(255, 128, 142) transparent transparent;
}

.cl_window_thisday p {
	color: #fff;
	font-size: 14px;
	line-height: 24px;
}

.down_week {
	width: 50px;
	display: flex;
	justify-content: center;
}

.cl_all_days {
	display: flex;
	flex-wrap: wrap;
	font-weight: bold;
}